 fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: absolute;
   

}
form {
	text-align: center;
	position: relative;
}

form fieldset:not(:first-of-type) {
	display: none;
}


#wizard .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#wizard .action-button:hover, #wizard .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}